@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
 
*{
  font-family: 'Times New Roman', Times, serif;
}
.legal {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background: rgb(108, 117, 125);
  padding: 20px;
  margin: 0;
  margin-top: 50px;
  font-size: 14px;
}
body {

  background-color:#ccc;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.nav > .active > a { 
  background-color: 	rgb(40, 167, 69); 
  }
.header {
  color: #ffffff;
}
.aa {
  text-align: center;
}
.section-data,.myDD{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../photo/bg.png');
}
.english{
   font-family: 'Times New Roman', Times, serif;
}
.navsection{
 box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
}
.column{
float:left;
width:30%;
padding:15px;
}
.logo{
  width:30px; 
}
.bb{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-family: "Lato", sans-serif;
  margin: 0;
}
.container1 {
  perspective: 1000px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-family: "Lato", sans-serif;
}

.seat {
  background-color: #ffffff;
  height: 30px;
  width: 32px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: rgb(98, 163, 98);
}

.seat.sold {
  background-color: #828282;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #e6dada;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 120px;
  width: 30%;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(67, 65, 65, 0.7);
}


 